

    font-family: 'Anton', sans-serif;

    font-family: 'Bangers', cursive;

    font-family: 'Audiowide', cursive;

    font-family: 'Julius Sans One', sans-serif;

html{
  background-color: lightgrey;
}

header{
  text-align: center;
  font-family: 'Anton', sans-serif;
  
}
