

    font-family: 'Anton', sans-serif;

    font-family: 'Bangers', cursive;

    font-family: 'Audiowide', cursive;

    font-family: 'Julius Sans One', sans-serif;

html
{
    background-color: aquamarine;
    padding: 0;
    margin: 0;

}
header{
    font-family: 'Audiowide', cursive;
    font-size: 2.7rem;
    text-align: center;

}

.about
{
    display: grid;
    align-items: center;
}

.about img
{
    width: 100%;
    height: auto;
    display: flex;
}

.description h2
{
    text-align: center;
    font-size: 10vw;
    font-family: monospace;
    background-color: lightpink;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    border-top: 5px solid purple;
    color: purple;
}

.description p
{
    text-align: justify;
    border-bottom: 5px solid purple;
    border-right: 5px solid purple;
    border-left: 5px solid purple;
    margin-top: 0;
    background-color: floralwhite;
    padding: 0 2px 0 2px;
}
