
    /*font-family: 'Anton', sans-serif;

    font-family: 'Bangers', cursive;

    font-family: 'Audiowide', cursive;

    font-family: 'Julius Sans One', sans-serif;*/

html
{
    background-color: aquamarine;
    padding: 0;
    margin: 0;

}
header{
    font-family: 'Audiowide', cursive;
    font-size: 7vw;
    text-align: center;

}

header h1
{
    margin-bottom: 0;
    top: 0;
    position: absolute;
}

.about
{
    display: grid;
    align-items: center;
    top: 180px;
    position: absolute;
    left: 0;
}

.about img
{
    width: 100%;
    height: auto;
    display: block;
}


.description h2
{
    text-align: center;
    font-size: 10vw;
    font-family: monospace;
    background-color: lightpink;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    border-top: 5px solid purple;
    color: purple;
}

.description p
{
    text-align: justify;
    border-bottom: 5px solid purple;
    border-right: 5px solid purple;
    border-left: 5px solid purple;
    margin-top: 0;
    background-color: lightcyan;
    padding: 0 4px 0 4px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.6vw;
}

.galery
{
    display: grid;
    top: 430px;

}

.galery h3
{
    text-align: center;
    font-size: 6vw;
    position: relative;
    top: 410px;
    margin-top: 0;
}

.contact
{
    display: flex;
    position: absolute;
    top: 800px;

}
